<!DOCTYPE html>
<html>
    <head>
       <title>FunTimePlanner</title>

        <script>
            <!-- Ajax Function -->
            var date_request = new XMLHttpRequest();

            function drawTime(time) {
                var user_time = document.getElementById("results");
                user_time.innerHTML = time;
                console.log(time);
            }

            function onRequestChange() {
                console.log(date_request.readyState, date_request.status);
                if ((date_request.readyState == 4) && (date_request.status == 200)) {
                    var data = JSON.parse(date_request.responseText);
                    console.log(data);
                    drawTime(data["time"]);
                }
            }

            function fetchDate(){
                date_request.onreadystatechange = onRequestChange;
                date_request.open("GET", "http://date.jsontest.com/", true);
                date_request.send();
            }

        </script>

        <style>
        #results{
            background-color:green;
            position:absolute;
            right:0;
            bottom:0;
            height:25%;
            width:50%;
            color:white;
            text-align:right;
            padding:5px;
        }
        </style>
    </head>

    <body>
    <div id="results">Header Value Goes Here</div>
    <h1>FunTimePlanner Users</h1>
        <ul>
            {% for user in users %}
            <li><button onclick="fetchDate()"> {{user.username}}</button></li>
            {% endfor %}
        </ul>
    <br>

    </body>
</html>

