<!DOCTYPE html>
<html>
    <head>
       <title>FunTimePlanner</title>

        <script>
            function show(id){
            var user_id = document.getElementById("results");
            user_id.innerHTML = id;
            }
        </script>

        <style>
        #results{
            background-color:green;
            position:absolute;
            right:0;
            bottom:0;
            height:25%;
            width:50%;
            color:white;
            text-align:right;
            padding:5px;
        }
        </style>
    </head>

    <body>
    <div id="results">Header Value Goes Here</div>
    <h1>FunTimePlanner Users</h1>
        <ul>
            {% for user in users %}
            <li><button onclick="show({{user.id}})"> {{user.username}}</button></li>
            {% endfor %}
        </ul>
    <br>

    </body>
</html>

